:root{
    --mainColor :#ce1212;
    --subColor: #7f7f90;
    --mainFont: "Amatic SC", sans-serif;
    --subFont: "Roboto", sans-serif;
    --modeColor : black;
    --modeBg : #eee;
    --hoverColor : #ea1919;
    --whiteColor : white;
    --paragraph : black;
    --bodyBg : white;
    --contactInfo :  #f5f5f5;
    --contactBg : white ;
}
html,body{
    background-color: var(--bodyBg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h1{
    font-family: var(--mainFont);
    font-size: 4rem;
    font-weight: 700;
    color: var(--modeColor);
}
h2{
    font-family: var(--mainFont);
    font-size: 3rem;
    color: var(--modeColor);
}
h2 span{
    color: var(--mainColor);
}
.title{
    color: var(--subColor);
    font-family: var(--subFont);
    font-weight: 400;
}
p{
    color: var(--paragraph);
}
#home{
   background-color: var(--modeBg);
  
}
.navbar-brand{
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
    color: var(--modeColor);
}
.nav-dark2 svg{
    cursor: pointer;
}
.navbar-nav .nav-item .active{
    color:var(--modeColor);
    position: relative;
}

.nav-item .nav-link {
  position: relative;
   color:#7f7f90;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 0.9rem;
  transition: color 0.3s ease;
}
.nav-item .nav-link:hover {
  color: var(--modeColor);
}
.navbar-toggler{
    border: none;
}



.navbar-brand::after{
    content: "";
    position: absolute;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: var(--mainColor);
   left: 100%;
   top: 70%;
}
.btns{
    display: flex;
    flex-direction: column;
}
.btn1-home{
    background-color: var(--mainColor);
    color: white;
    border: none;
    padding: 0.5rem 1.7rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s;
}
.btn1-home:hover{
    background-color: var(--hoverColor);
}
.btn2-home {
    color: var(--modeColor);
    font-weight: 600;
    transition: all 0.5s;
    
}
.btn2-home:hover{
  color: var(--mainColor);
}

.btn2-home .icon {
  width: 40px;
  height: 40px;
  background-color: var(--whiteColor); 
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.home-main .row{
    flex-direction: column-reverse;
}
.home-main img:hover{
   animation: shake 1s infinite ;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#chefs h3{
    font-family: var(--subFont);
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0;
    color: var(--modeColor);
}
#chefs .first-p{
    font-family: var(--subFont);
    font-size: 0.9rem;
    color: #7f7f90;
}
#chefs .pic{
    position: relative;
    overflow: hidden;
}

#chefs .pic::before{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 3.75rem;
   background-image: url(../images/team-shape.svg);
    background-repeat: repeat-x;
}
.chef-icons{
    position: absolute;
    top: 10%;
    right:-50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    width: 15%;
    background-color: #ffffff4d;
    transition: all 1s;
}
.chef-contain:hover .chef-icons{
    right: 3%;
}
.chef-contain{
  
    transition: all 0.5s;
}
.chef-contain:hover{
    transform: scale(1.05);
}
.chef-icons a{
    color: inherit;
    text-decoration: none;

}
.chef-icons svg{
    color: #37373f66;
    transition: all 0.5s;
}
.chef-icons svg:hover{
    color: black;
}
.sec-p{
    font-style: italic;
    color: #7f7f90;
    font-size: 1rem;
}
.chef-info{
    background-color: var(--whiteColor);
}
#gallery{
    background-color: var(--modeBg);
}

.image{
    position: relative;
    overflow: hidden;
    border: 3px solid white;
}
.layer{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    transition: all 0.5s ;

}

.image:hover .layer{
    top: 0;
}
.layer h2{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--subFont);
    color: white;
}
.layer p{
    color: white;
}
#contact iframe{
    width: 100%;
   height: 21.875rem;
}
.contact-info{
    background-color: var(--contactInfo);
}
.contact-info h3{
    color: #7d7d7d;
    font-size: 1.25rem;
    font-weight: 700;
}
.contact-info .info p{
    color: var(--modeColor);
}
.contact-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    background-color: var(--contactBg);
}
.contact-form input , .contact-form textarea{
    border-radius: 0;
    padding: 0.8rem;
    border: 2px solid #ddd;
}

.contact-form input:focus, .contact-form textarea:focus{
    box-shadow: none;
    border: 2px solid var(--mainColor);
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
    font-size: 0.8rem;
    color: #7f7f7f;
}
.contact-btn{
    background-color: var(--mainColor);
    border-radius: 30px;
    color: white;
    border: none;
    width: 40%;
    font-size: 0.9rem;
}
.contact-btn:hover{
    background-color: var(--hoverColor);
    color: white;
}
footer{
    background: linear-gradient(rgba(0, 0, 0, 0.6) ,rgba(0, 0, 0, 0.6)), url(../images/textured-metal-background.jpg) ;
    background-position: center;
    background-size: contain;
    color: white;
}
.foot-main img{
   width: 15%;
}
footer p{
    color: white;
}
.foot-main h2{
   position: relative;
   font-weight: 700;
   font-size: 1.9rem;
   color: white;
   font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.foot-main h2::after{
    content: "";
    position: absolute;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: var(--mainColor);
   left: 100%;
   top: 70%;
}
footer h3{
    font-size: 1.17em;
    font-weight: 700;
}
.border-bot{
    border-bottom: 2px solid #ddd6;
}
.foot-inp{
    border: none;
    border-radius: 2px;
}
.foot-inp:focus{
    box-shadow: none;
}
.foot-btn{
    background-color:var(--mainColor) ;
    color: white;
    border-radius: 2px;
    font-weight: 600;
    border: none;
    transition: all 0.5s;
}
.foot-btn:hover{
    background-color: var(--hoverColor);
}
.foot-list li{
    margin-bottom: 0.4rem;
    transition: all 0.5s;
    padding: 0.1rem;
}
.foot-list li:hover{
    background-color: #7f7f902e;
     margin-left: 0.5rem;
}
.touch svg{
    color: var(--mainColor);
}